doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Matcha | Profile
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
        link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
        script(src="https://kit.fontawesome.com/17df3da6b8.js", crossorigin="anonymous")
        link(rel="stylesheet", href="main.css")
    body
        //- modal for bio change
        #modalBio.modal.fade(tabindex="-1", role="dialog", aria-labelledby="bioModalLabel", aria-hidden="true")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        h5#bioModalLabel.modal-title Edit your Bio
                        button.close(type="button", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") &times;
                    .modal-body
                            form(action="bio_change", method="post")
                                .form-group
                                    textarea#bio_text.form-control(type="text", name="bio", rows="7")
                                        | variable output here
                                        | of their bio
                                .form-group
                                    button.btn.btn-primary(type="submit", name="bio_save") Save Changes	
                    .modal-footer
                        button.btn.btn-secondary(type="button", data-dismiss="modal") Close

        //- modal for main profile image change
        #modalMain.modal.fade(tabindex="-1", role="dialog", aria-labelledby="mainModalLabel", aria-hidden="true")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        h5#mainModalLabel.modal-title Change this online image
                        button.close(type="button", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") &times;
                    .modal-body
                            form(action="change_pfp", method="post")
                                .form-group
                                    input#main_img(type="file", name="main_img", accept="image/*")
                                .form-group
                                    button.btn.btn-primary(type="submit", name="main_save") Save Changes	
                    .modal-footer
                        button.btn.btn-secondary(type="button", data-dismiss="modal") Close

        //- modal for TWO profile image change
        #modalTwo.modal.fade(tabindex="-1", role="dialog", aria-labelledby="twoModalLabel", aria-hidden="true")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        h5#twoModalLabel.modal-title Change this online image
                        button.close(type="button", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") &times;
                    .modal-body
                            form(action="change_pfp", method="post")
                                .form-group
                                    input#two_img(type="file", name="two_img", accept="image/*")
                                .form-group
                                    button.btn.btn-primary(type="submit", name="two_save") Save Changes	
                    .modal-footer
                        button.btn.btn-secondary(type="button", data-dismiss="modal") Close

        //- modal for THREE profile image change
        #modalThree.modal.fade(tabindex="-1", role="dialog", aria-labelledby="threeModalLabel", aria-hidden="true")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        h5#ThreeModalLabel.modal-title Change this online image
                        button.close(type="button", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") &times;
                    .modal-body
                            form(action="change_pfp", method="post")
                                .form-group
                                    input#three_img(type="file", name="three_img")
                                .form-group
                                    button.btn.btn-primary(type="submit", name="three_save", accept="image/*") Save Changes	
                    .modal-footer
                        button.btn.btn-secondary(type="button", data-dismiss="modal") Close

        //- modal for FOUR profile image change
        #modalFour.modal.fade(tabindex="-1", role="dialog", aria-labelledby="fourModalLabel", aria-hidden="true")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        h5#fourModalLabel.modal-title Change this online image
                        button.close(type="button", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") &times;
                    .modal-body
                            form(action="change_pfp", method="post")
                                .form-group
                                    input#four_img(type="file", name="four_img")
                                .form-group
                                    button.btn.btn-primary(type="submit", name="four_save", accept="image/*") Save Changes	
                    .modal-footer
                        button.btn.btn-secondary(type="button", data-dismiss="modal") Close

        //- modal for FIVE profile image change
        #modalFive.modal.fade(tabindex="-1", role="dialog", aria-labelledby="fiveModalLabel", aria-hidden="true")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        h5#fiveModalLabel.modal-title Change this online image
                        button.close(type="button", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") &times;
                    .modal-body
                            form(action="change_pfp", method="post")
                                .form-group
                                    input#five_img(type="file", name="five_img", accept="image/*")
                                .form-group
                                    button.btn.btn-primary(type="submit", name="five_save") Save Changes	
                    .modal-footer
                        button.btn.btn-secondary(type="button", data-dismiss="modal") Close

        .page-container
            .content-wrap
                header
                    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
                        a.navbar-brand(href="/") MATCHA

                        //- burger button on phone screens
                        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSuppportedContent")
                            span.navbar-toggler-icon

                        //- targeted info by button
                        #navbarSuppportedContent.collapse.navbar-collapse
                            ul.navbar-nav.ml-auto
                                li.nav-item
                                    a.nav-link(href="notifications")
                                        i.fas.fa-bell.mt-1
                                li.nav-item.dropdown
                                    a#navbarDropdown.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown") More
                                    .dropdown-menu(aria-labelledby="navbarDropdown")
                                        a.dropdown-item(href="search") Match Me!
                                li.nav-item
                                    a.nav-link(href="logout") Logout
                                li.nav-item
                                    a.nav-link(href="/") Home

                //- profile info
                .container
                    .container-fluid.mb-5
                        .row.mr-0.ml-0.custom-margin-pfp
                            .col-md-0
                                img#main-profile-img.rounded-circle.img-main.mt-3(src="bg.jpg", alt="main-profile", data-toggle="modal", data-target="#modalMain")
                            .col-md-0.mt-4.custom-margin-bio
                                strong
                                    h3.custom-text-name Jadon Hansen
                                h6.custom-text-rating Rating
                                i#alter-bio.fas.fa-cog(data-toggle="modal", data-target="#modalBio")
                                p.custom-text-bio stuff about me

                    //- other profile images
                    .container-fluid.mb-5
                        .row.mr-0.ml-0
                            .col-md-0
                                img#profile-img-two.img-fluid.rounded-circle.img-prof.mr-2(src="pic01.jpg", alt="user_img2", data-toggle="modal", data-target="#modalTwo")
                            .col-md-0
                                img#profile-img-three.img-fluid.rounded-circle.img-prof.mr-2(src="pic02.jpg", alt="user_img3", data-toggle="modal", data-target="#modalThree")
                            .col-md-0
                                img#profile-img-four.img-fluid.rounded-circle.img-prof.mr-2(src="pic03.jpg", alt="user_img4", data-toggle="modal", data-target="#modalFour")
                            .col-md-0
                                img#profile-img-five.img-fluid.rounded-circle.img-prof.mr-2(src="pic04.jpg", alt="user_img5", data-toggle="modal", data-target="#modalFive")

                    //- more options, tab view
                    .container-fluid.mb-5
                        #nav-tab.nav.nav-tabs(role='tablist')
                            a#nav-home-tab.nav-item.nav-link.active(data-toggle='tab' href='#nav-home' role='tab' aria-controls='nav-home' aria-selected='true') Associativity
                            a#nav-profile-tab.nav-item.nav-link(data-toggle='tab' href='#nav-profile' role='tab' aria-controls='nav-profile' aria-selected='false') Advanced
                            a#nav-contact-tab.nav-item.nav-link(data-toggle='tab' href='#nav-contact' role='tab' aria-controls='nav-contact' aria-selected='false') Location
                            a#nav-info-tab.nav-item.nav-link(data-toggle='tab' href='#nav-info' role='tab' aria-controls='nav-info' aria-selected='false') Current Info
                        #nav-tabContent.tab-content

                            #nav-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-home-tab')
                                //- modifying gender and preference
                                form(action="/update_profile", method="post")
                                    .form-row
                                        .col-md-5
                                            label.mt-2(for="selectGender") Gender
                                            select#selectGender.form-control.mb-2(name="gender_select")
                                                option(value="Male") Male
                                                option(value="Female") Female
                                                option(value="Other") Other
                                    .form-row
                                        .col-md-5
                                            label(for="selectPref") Partner Preference
                                            select#selectPref.form-control.mb-3(name="pref_select")
                                                option(value="Male") Male
                                                option(value="Female") Female
                                                option(value="Bi-Sexual") Bi-Sexual
                                    .form-row.mb-1
                                        input.btn.btn-dark(type="submit", name="submit_pref", value="Save Changes")

                            #nav-profile.tab-pane.fade(role='tabpanel' aria-labelledby='nav-profile-tab')
                                //- modifying details
                                form(action="/update_profile", method="post")
                                    .form-group
                                        label.mr-1.mt-3(for="name") Name
                                        input#name.pl-1(type="text", name="name", placeholder="Jadon")
                                    .form-group
                                        label.mr-1(for="surname") Surname
                                        input#surname.pl-1(type="text", name="surname", placeholder="Hansen")
                                    .form-group
                                        label.mr-1(for="age") Age
                                        input#age.pl-1(type="text", name="age", placeholder="18+")
                                    .form-group
                                        label.mr-1(for="email") Email Address
                                        input#email.pl-1(type="email", name="email", placeholder="example@gmail.com")
                                    .form-group
                                        label.mr-1(for="password") New Password
                                        input#password.pl-1(type="password", name="pass")
                                        small#passwordHelpBlock.form-text.text-muted
                                            | Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emojis.
                                    .form-group
                                        label.mr-1(for="repeat") Repeat Password
                                        input#repeat.pl-1(type="password", name="repeat_pass")
                                    .form-group
                                        input.btn.btn-dark(type="submit", name="submit_details", value="Save Changes")

                            #nav-contact.tab-pane.fade(role='tabpanel' aria-labelledby='nav-contact-tab')
                                //- modify location yes/no
                                form(action="location_set", method="post")
                                    .form-group
                                        .custom-control.custom-switch
                                            input#location.custom-control-input(type="checkbox", name="location", checked, onchange="this.form.submit()")
                                            label.custom-control-label.mt-2(for="location") Use location to match with users

                            #nav-info.tab-pane.fade(role='tabpanel' aria-labelledby='nav-info-tab')
                                //- current info
                                p.mt-2 Name and surname:
                                p Age:
                                p Email:
                                p Gender:
                                p Preference:
                                p Location usage:

                    //- add interest tags
                    .container-fluid.mb-5
                        h5 Add an interest tag
                        form(action="add_tag", method="post")
                            .form-row.align-items-center
                                .col-auto
                                    label.sr-only(for="inlineFormInputGroup") Tag
                                    .input-group.mb-2
                                        .input-group-prepend
                                            .input-group-text #
                                        input#inlineFormInputGroup.form-control(type="text", name="tag", placeholder="interest tag" required)
                                .col-auto
                                        button.btn.btn-primary.mb-2(type="submit") Add tag
                        p Current tags: You have no tags related to your profile.

            //- footer
            footer.page-footer.font-small.mdb-color.bg-light.text-dark
                .container.text-center.text-md-left
                    .row.text-center.text-md-left.mt-3.pb-1
                        .col-md-6.col-lg-5.col-xl-4.mx-auto.mt-3
                            h6.text-uppercase.mb-3.font-weight-bold About us
                            p
                                | In this day and age meeting new people and forming relationships is more difficult than ever,
                                | wether it be from a busy job or a lack of opportunity. Matcha's vision is to offer young and old people the unique opportunity to meet
                                | that potential special partner in life, all at your fingertips!
                                | But remember, there's more to love than just emojis and midnight texts.
                        .col-md-5.col-lg-4.col-xl-3.mx-auto.mt-3
                            h6.text-uppercase.mb-3.font-weight-bold Get In Touch
                            p
                                a.text-info(href="http://instagram.com/jadon.hansen") Instagram
                            p
                                a.text-info(href="http://facebook.com/jadon.hansen.56") Facebook
                            p
                                a.text-info(href="https://mail.google.com/mail/u/0/#inbox?compose=new") ftmatcha@gmail.com
                    hr
                    .row
                        .col.text-center
                            p
                                | &copy; 2019 Matcha. All rights reserved.
                            a.text-info.github-link(href='https://jadonhansen')
                                strong  @jadonhansen
                            a.text-info.github-link(href='https://gstrauss42')
                                strong  @gstrauss

    script(src="/js/profile_alterations.js")