doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Matcha | Search a user
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
        link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
        script(src="https://kit.fontawesome.com/17df3da6b8.js", crossorigin="anonymous")
        link(rel="stylesheet", href="main.css")
    body
        .page-container
            .content-wrap
                header.mb-3
                    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
                        a.navbar-brand(href="/") MATCHA

                        //- burger button on phone screens
                        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSuppportedContent")
                            span.navbar-toggler-icon

                        //- targeted info by button
                        #navbarSuppportedContent.collapse.navbar-collapse
                            ul.navbar-nav.ml-auto
                                li.nav-item
                                    a.nav-link(href="notifications")
                                        i.fas.fa-bell.mt-1
                                li.nav-item.dropdown
                                    a#navbarDropdown.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown") More
                                    .dropdown-menu(aria-labelledby="navbarDropdown")
                                        a.dropdown-item(href="profile") Profile
                                li.nav-item
                                    a.nav-link(href="logout") Logout
                                li.nav-item
                                    a.nav-link(href="/") Home

                //- advanced search options: age, fame rating, location, one/more tags
                .container-fluid
                    h4.advanced-heading.ml-3.mb-3 Advanced Search
                    form(action="/search", method="post")
                        .row.ml-0.mr-0
                            .col-md-6
                                .form-group
                                    label.label-text.mr-1(for="age") Age
                                    input#age.pl-1(type="text", name="age", placeholder="18+")
                                .form-group
                                    .custom-control.custom-checkbox
                                        input#location.custom-control-input(type="checkbox", name="location")
                                        label.label-text.custom-control-label(for="location") Nearby location
                                .form-group
                                    .custom-control.custom-checkbox
                                        input#rating.custom-control-input(type="checkbox", name="rating")
                                        label.label-text.custom-control-label(for="rating") Similar fame rating
                                .form-group
                                    input.btn.btn-dark(type="submit", name="advanced_search", value="Match!")
                            .col
                                h6 Include various tags

                                //- each id for the checkboxes must be different
                                .form-group.mb-0
                                    .custom-control.custom-checkbox
                                        input#various.custom-control-input(type="checkbox", name="various")
                                        label.label-text.custom-control-label(for="various") Variable showing tag (e.g.)
                                .form-group.mb-0
                                    .custom-control.custom-checkbox
                                        input#various1.custom-control-input(type="checkbox", name="various1")
                                        label.label-text.custom-control-label(for="various1") Variable showing tag (e.g.)

                                small.form-text.text-muted
                                    | To add/see more tags appear here make sure you have added them to your 
                                    a(href="profile") profile 
                                    | first

                    hr
                //- by default show users from same area & ONLY correct sex (in bi/non-specified case match with all): this can be sorted by age, location, fame rating, common tags
                .container-fluid
                    form(action="/search", method="post")
                        .row.mr-0.ml-0
                            .col-md-2
                                .form-group
                                    label.label-text(for="selectGender") Filter by
                                    select#selectGender.form-control(name="filter")
                                        option(value="age") Age
                                        option(value="location") Location
                                        option(value="rating") Fame Rating
                                        option(value="common_tags") Tags in common
                            .col-md-2
                                .form-group
                                    label.label-text(for="selectGender") Order
                                    select#selectGender.form-control(name="order")
                                        option(value="ascending") Ascending
                                        option(value="descending") Descending
                            .col-md-2
                                input.btn.btn-dark.filter-btn(type="submit", name="filter_all", value="Go!")

                    hr
                //- search results go here (!!!!!!!!!!if cant use alert then use media objects!!!!!!!!!)
                .container-fluid
                    .alert.alert-primary.alert-dismissible.fade.show.ml-4.mr-4(role="alert")
                        .media
                            a(href="matched_profile")
                                img.rounded.mr-2.search-profile(src="pic02.jpg", alt="profile_image")
                            .media-body
                                a(href="matched_profile")
                                    strong.custom-username Jadon Hansen
                                p.search-profile-descrip.mb-0 Description and interests
                        button.close(type="button" data-dismiss="alert" aria-label="Close")
                            span(aria-hidden="true") &times;
                    .alert.alert-primary.alert-dismissible.fade.show.ml-4.mr-4(role="alert")
                        .media
                            a(href="matched_profile")
                                img.rounded.mr-2.search-profile(src="pic03.jpg", alt="profile_image")
                            .media-body
                                a(href="matched_profile")
                                    strong.custom-username Gabriel Strauss
                                p.search-profile-descrip.mb-0 Description and interests
                        button.close(type="button" data-dismiss="alert" aria-label="Close")
                            span(aria-hidden="true") &times;

            //- footer
            footer.page-footer.font-small.mdb-color.bg-light.text-dark
                .container.text-center.text-md-left
                    .row.text-center.text-md-left.mt-3.pb-1
                        .col-md-6.col-lg-5.col-xl-4.mx-auto.mt-3
                            h6.text-uppercase.mb-3.font-weight-bold About us
                            p
                                | In this day and age meeting new people and forming relationships is more difficult than ever,
                                | wether it be from a busy job or a lack of opportunity. Matcha's vision is to offer young and old people the unique opportunity to meet
                                | that potential special partner in life, all at your fingertips!
                                | But remember, there's more to love than just emojis and midnight texts.
                        .col-md-5.col-lg-4.col-xl-3.mx-auto.mt-3
                            h6.text-uppercase.mb-3.font-weight-bold Get In Touch
                            p
                                a.text-info(href="http://instagram.com/jadon.hansen") Instagram
                            p
                                a.text-info(href="http://facebook.com/jadon.hansen.56") Facebook
                            p
                                a.text-info(href="https://mail.google.com/mail/u/0/#inbox?compose=new") ftmatcha@gmail.com
                    hr
                    .row
                        .col.text-center
                            p
                                | &copy; 2019 Matcha. All rights reserved.
                            a.text-info.github-link(href='https://jadonhansen')
                                strong  @jadonhansen
                            a.text-info.github-link(href='https://gstrauss42')
                                strong  @gstrauss